<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta Macro-V</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card mode="ios">
    <ion-card-content>
      <ion-item lines="floating">
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-input [(ngModel)]="nombre" type="text"></ion-input>
      </ion-item>

      <ion-item lines="floating">
        <ion-label position="stacked">Usuario (Login)</ion-label>
        <ion-input [(ngModel)]="usuario" type="text"></ion-input>
      </ion-item>

      <ion-item lines="floating">
        <ion-label position="stacked">Rol</ion-label>
        <ion-select [(ngModel)]="rol" placeholder="Seleccione un rol">
          <ion-select-option value="ingeniero">Ingeniero (Admin)</ion-select-option>
          <ion-select-option value="operador">Operador</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="floating">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [type]="mostrarPassword ? 'text' : 'password'" [(ngModel)]="contrasena"></ion-input>
      </ion-item>

      <ion-item lines="floating">
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input [type]="mostrarPassword ? 'text' : 'password'" [(ngModel)]="confirmarContrasena"></ion-input>
      </ion-item>

      <p *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</p>

      <ion-button expand="block" color="danger" (click)="registrar()" [disabled]="cargando" style="margin-top: 20px;">
        <ion-icon slot="start" name="person-add-outline" *ngIf="!cargando"></ion-icon>
        <ion-spinner *ngIf="cargando"></ion-spinner>
        Registrar Usuario
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>