<ion-content>
  <div class="login-wrapper">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Login de Personal</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="full">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input label="Nombre" labelPlacement="stacked" [(ngModel)]="user.nombre"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-icon name="build-outline" slot="start"></ion-icon>
          <ion-select label="Rol de Trabajo" labelPlacement="stacked" [(ngModel)]="user.rol">
            <ion-select-option value="Ingeniero">Ingeniero</ion-select-option>
            <ion-select-option value="Operativo">Operativo</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input label="ID Usuario" labelPlacement="stacked" [(ngModel)]="user.usuario"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" label="Contraseña" labelPlacement="stacked" [(ngModel)]="user.contrasena"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="onLogin()" class="ion-margin-top" shape="round">
          Iniciar Sesión
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>