// Fondo del menú lateral
ion-menu {
  --width: 280px;

  ion-content {
    --background: #7573f5; // Un gris claro muy suave para contrastar
  }
}

// Estilo de los encabezados (Macro_V y V°I)
ion-list-header {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ff0800; // Color azul de la marca
  padding: 20px 20px 10px 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

// Nota debajo del título
ion-note {
  padding: 0 20px;
  color: #ff0000;
  font-size: 0.9rem;
}

// Estilo de cada opción del menú
ion-item {
  --background: transparent;
  --padding-start: 20px;
  margin: 8px 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  ion-icon {
    color: #ff0000;
    font-size: 1.4rem;
  }

  ion-label {
    font-weight: 500;
    color: #0a0101;
  }

  // Efecto cuando el ítem está seleccionado
  &.selected {
    --background: #547cf5;
    
    ion-icon, ion-label {
      color: rgb(202, 6, 6) !important;
    }
  }

  // Efecto hover (para PC)
  &:hover:not(.selected) {
    --background: #e75656;
  }
}

// Separador entre listas
ion-list {
  padding-bottom: 20px;
}