.fondo-gris {
  --background: #f4f5f8;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  p { color: #666; margin-top: 10px; }
}

.btn-excel {
  --background: #1d6f42; // Color Verde Excel
  --border-radius: 5px;
  font-weight: bold;
}

.table-responsive {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow-x: auto;
}

.excel-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;

  th {
    background: #d32f2f; // Rojo Aguas de Manizales
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
  }

  .fila-alerta {
    background-color: #fff5f5; // Fondo rojizo suave para problemas
  }

  .nombre-bold { font-weight: bold; color: #333; }
  .valor-suma { font-weight: bold; color: #d32f2f; background: #fffafa; }

  .chip-ciclo {
    background: #e0e0e0;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  // Estilos de los Badges
  .badge-estado {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    
    &.estado-bueno { background: #c8e6c9; color: #2e7d32; }
    &.estado-inundado { background: #ffcdd2; color: #c62828; border: 1px solid #ef9a9a; }
    &.estado-dañado { background: #fff9c4; color: #f57f17; }
  }

  .obs-text {
    font-style: italic;
    color: #777;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
    .foto-evidencia {
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
}